@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Young Serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  }

  body{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
  }

  
  h1 , h2{
    font-family: "Young Serif", sans-serif;
    color: hsl(30, 10%, 34%);
  }

  .main-container{
    border-radius: 2%;
    margin-top: 60px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    padding: 20px;
  }

  .omelette_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  .omelette_pic >img{
    width: 100%;
    margin-top: 20px;
    border-radius: 2%;
    
  }

  .intro, .ingredients, .instructions, .nutrition{
    width: 100%;
    padding-left: 10px;
  } 

  .prep_time{
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    border-radius: 2%;
    padding-left: 10px;
  }

  .prep_time > h4 {
    font-family: "Young Serif", sans-serif;
    color: hsl(24, 5%, 18%);
  }

 li{
    padding-top: 2px;
    padding-bottom: 2px;
  } 

  table{
    width: 100%;
    border-collapse: collapse;
  }

  td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 5px;
  }

  td:nth-child(even){
    font-weight: bold;
    color: hsl(30, 10%, 34%);
  }


  footer{
    padding-top: 2%;

  }

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 375px) {
  .main-container{
    border-radius: 0;
    width:100%;

  }

  body{
    background-color:  hsl(0, 0%, 100%);
  }
}